<header>
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary y2k-navbar">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link y2k-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link y2k-link" href="about-us.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link y2k-link" href="form.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link y2k-link" href="schedule.html">Schedule</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle y2k-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item y2k-link" href="#">Action</a></li>
              <li><a class="dropdown-item y2k-link" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item y2k-link" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled y2k-link" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <!--
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
      </div>
    </div>
  </nav>
  <!-- end navbar -->
</header>
